.masterPage.sapTntSideNavigation {
    background: #354a5f;
}

.sapMGT.OneByOne.styleTile {
    /*height: 5rem;*/
    /*width: 13rem;*/
    background-color: #0087d5;
}

.styleTile .sapMGTHdrTxt>.sapMText {
    color: #fafafa;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
}

.styleTile .sapUiIcon::before {
    color: whitesmoke;
}

html.sap-desktop .sapMGT:hover:not(.sapMGTPressActive):not(.sapMGTBackgroundImage) {
    background: lightblue;
}

.sapTntNavLIItem {
    background-color: #354a5f !important;
}

.sapTntNavLIItem .sapMText {
    color: white !important;
}

.sapTntNavLIItem .sapUiIcon {
    color: white !important;
}

.sapMGT.OneByOne.HomeStyleTile {
    background-color: darkblue!important;
}